* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* text-decoration: none; */
    /* add this by myself */
}

body,
h2,
h3,
h4,
h5,
h6,
p {
    /*  font-family: 'Work Sans', sans-serif;  */
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

body {
    /*  font-family: 'Work Sans', sans-serif;  */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: white;
}

h1 {
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 100px;
    color: black;
    letter-spacing: 4px;
    top: 47%;
    transform: translateY(-50%);
    position: relative;
    text-align: center;
}

h4 {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    color: black;
    padding: 28px;
    bottom: 0;
    position: absolute;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 20px;
    line-height: 52px;
}

p {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 36px;
    /*padding-left: 3px;*/
    /* letter-spacing:1px; */
    word-break: normal;
}

span.orange-subtitle {
    color: #f27052;
}

a.active-links {
    color: #f27052;
}


/* Center website  */

.main {
    max-width: 1200px;
    margin: auto;
}

.nav-main {
    /*padding-top:20px;*/
    /*max-width: 1400px;*/
    margin: auto;
}

.project-main {
    max-width: 1200px;
    margin: auto;
    padding: 0 12px;
}


/* Center website END */


/* navbar */

.navbar {
    /*  padding-top: 16px;*/
    /* margin-bottom: 12px;*/
    /*padding: 30px 0;*/
    width: 100%;
    height: 50px;
    line-height: 50px;
    /*font-size: 18px;*/
    position: fixed;
    /* Set the navbar to fixed position */
    /*  position: relative; */
    /*position: absolute;*/
    top: 0;
    left: 0;
    z-index: 1;
}


/* position brand */

.topnav-centered a {
    float: left;
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.navbar a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

.navbar a.nav-active {
    color: #f27052;
    /* color: black; */
}

.navbar a.navbar-white {
    text-decoration: none;
    color: #e3e3e3;
    /*color: white;*/
}

.navbar a.navbar-brand {
    /* color:#105a5f; */
    /* color:#272727; */
    height: inherit;
    line-height: inherit;
    padding: 0 24px;
    font-size: 26px;
    /* text-transform: uppercase; */
    font-weight: 600;
    letter-spacing: 2px;
    /*margin-top: 2px;*/
}

.navbar a.navbar-brand img {
    padding-top: 14px;
    padding-left: 0px;
    height: 52px;
}

.navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 7px 40px 0px 5px;
    /*  text-align: center; */
}

.navbar ul li {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    min-width: 80px;
    display: inline-block;
    /*padding: 0 10px;*/
    /* here to control the space between each menu */
}

.navbar ul li a {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.3s;
    display: block;
    text-align: center;
    min-width: 80px;
    padding: 0 20px;
}

.navbar ul li a:hover {
    color: #1c3a13;
    /* text-decoration: underline; */
}

.navbar #ins-icon {
    height: 22px;
    margin-bottom: -4px;
}

.dropdown-content {
    /* background-color: pink; */
    display: none;
    z-index: 1;
}

.navbar ul li a.dropdown-a {
    float: none;
    display: block;
    position: relative;
    align-items: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar .navbar-toggler {
    display: none;
}

@media (min-width: 768px) {
    .dropdown-content {
        position: absolute;
    }
    .navbar ul li a.dropdown-a {
        text-align: left;
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding-top: 0;
        /*background-color: rgba(255,255,255,0.2);*/
    }
    .navbar a {
        text-align: center;
    }
    .navbar a.navbar-white {
        color: grey;
    }
    .navbar ul {
        width: 100%;
        padding: 0;
        background-color: #fcfcfc;
        /*background-color: grey;*/
        /* height: auto; */
        height: 100vh;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.3s;
    }
    #dark-nav-bg {
        background-color: #272727;
    }
    .navbar ul.open {
        max-height: 100vh;
    }
    .navbar ul li {
        position: relative;
        top: 25%;
        /*text-align: center;*/
        /*margin-top: 30px;*/
        width: 100%;
        /*border-bottom: 1px solid rgba(255,255,255,0.3);*/
        font-size: 36px;
        font-weight: 800;
    }
    .navbar ul li a {
        /*padding: 0;*/
        /*padding-left:50px;*/
        font-size: 36px;
        font-weight: 800;
    }
    .navbar .navbar-toggler {
        display: block;
        position: absolute;
        height: 24px;
        top: 19px;
        right: 20px;
        background-color: transparent;
        /*     color: grey; */
        /*     border: 3px solid #fff; */
        border: none;
        /* border-radius: 4px; */
        outline: none;
        padding: 0 5px;
        cursor: pointer;
    }
    .navbar .navbar-toggler span,
    .navbar .navbar-toggler span::before,
    .navbar .navbar-toggler span::after {
        display: block;
        content: '';
        background-color: black;
        height: 3px;
        width: 24px;
        /*border-radius: 4px;*/
        transition: all ease-in-out 0.3s;
    }
    .navbar .navbar-toggler span::before {
        transform: translateY(-8px);
    }
    .navbar .navbar-toggler span::after {
        transform: translateY(5px);
    }
    .navbar .navbar-toggler.open-navbar-toggler span {
        /* transform: rotate(90deg); */
        background-color: transparent;
        /* transform: scale(0.85) rotate(270deg); */
    }
    .navbar .navbar-toggler.open-navbar-toggler span::before {
        transform: translateY(0px) rotate(45deg);
        /* transform: translateY(0px) scale(0.75) rotate(45deg); */
    }
    .navbar .navbar-toggler.open-navbar-toggler span::after {
        transform: translateY(-3px) rotate(-45deg);
        /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
    }
    .navbar #ins-icon {
        height: 36px;
        margin-bottom: 0;
    }
    .fun {
        display: none;
    }
    .navbar a.navbar-brand {
        padding: 0 18px;
    }
    .youtube {
        padding: 80px 5px;
    }
}


/* navbar END */


/* Home page sections */


/* scroll to top button */

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 24px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: transparent;
    /* Set a background color */
    /*color: grey; !* Text color *!*/
    cursor: pointer;
    /* Add a mouse pointer on hover */
    /*padding: 15px; !* Some padding *!*/
    /*border-radius: 10px; !* Rounded corners *!*/
    /*font-size: 18px; !* Increase font size *!*/
}

#myBtn:hover {
    /*background-color: #555; !* Add a dark-grey background on hover *!*/
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


/* scroll to top button END */


/* footer and copyright */

.containerCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#bottom {
    color: black;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    width: 100%;
    bottom: 24px;
    margin-top: 200px;
    position: relative;
}

#bottom a {
    font-size: 17px;
    color: black;
    text-decoration: none;
    padding: 0 10px;
}

@media (max-width: 768px) {
    #bottom a {
        padding: 0 5px;
    }
}


/* footer and copyright END */


/*  parallax effect, parallax video effect */


/* 

.header-image1 {
    background-image: url('1neos-1.jpg');
}

.header-image8 {
    background-image: url('play-muscle.mp4');
}
*/


/* somehow the above video header parallax is working in safari but not chrome */


/*
@media (max-width: 800px) {
    header {
        height: 45%;
        background-attachment: scroll;
        /*background-size: contain;*/


/*  }}

*/


/* parallax effect END */


/* this wrapper is important, although I don't understand... 

.wrapper {
    display: flex;
    justify-content: space-between;
}
*/

.fun {
    letter-spacing: 1px;
    position: absolute;
    /*text-align: center;*/
    z-index: 9999;
    /*text-shadow: 0 0 10px lightgray;*/
    /*color:lightgray;*/
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fun p {
    text-align: center;
    font-size: 40px;
    line-height: 56px;
}

#video-bg {
    /*    min-width: 100%;
    min-height: 100vh;*/
    overflow: hidden;
    position: absolute;
    /* to make the video centered */
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    /*height: 100%;*/
    /* solution: object-fit */
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.video-container {
    line-height: 0;
    height: 100vh;
}

div.slide {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

div.slide .vcenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

div.slide .hcenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/*div.slide .left {
    margin-left: 9%;
    width: 23%;
    position: absolute;
}

div.slide .right {
    margin-left: 45%;
    width: 45%;
    position: absolute;
}*/

div.slide .white {
    color: white;
}

div.slide .title-size {
    font-size: 56px;
    line-height: normal;
}

div.slide .text-size {
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
}


/* Specific settings for each slide */

div.slide #slide1-left {
    top: 50%;
    margin-left: 9%;
    width: 23%;
    position: absolute;
}

div.slide #slide1-right {
    top: 50%;
    margin-left: 45%;
    width: 45%;
    position: absolute;
}

div.slide #slide2-left {
    margin-left: 9%;
    width: 23%;
    position: absolute;
}

div.slide #slide2-middle {
    width: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.slide #slide2-right {
    margin-left: 70%;
    width: 22%;
    position: absolute;
}

div.slide #contactinfo {
    font-size: 36px;
    text-align: center;
    line-height: 52px;
    padding: 0 10%;
}


/* Specific settings for each slide (responsive) */

@media(max-width: 991px) {
    div.slide {
        height: unset;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    div.slide .vcenter {
        top: unset;
        transform: unset;
    }
    div.slide #slide1-left {
        position: relative;
        padding: 150px 5% 0px;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
    div.slide #slide1-right {
        position: relative;
        padding: 50px 10% 150px;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
    div.slide #slide2-left {
        position: relative;
        padding: 120px 5% 100px;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
    div.slide #slide2-middle {
        width: 480px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    div.slide #slide2-right {
        position: relative;
        margin-left: 0;
        width: 100%;
        text-align: center;
        padding: 100px 10% 120px;
    }
    div.slide .title-size {
        font-size: 48px;
    }
    div.slide .text-size {
        font-size: 24px;
        line-height: 32px;
    }
}

@media(max-width: 768px) {
    div.slide #slide1-left {
        padding: 120px 5% 0px;
    }
    div.slide #slide1-right {
        padding: 50px 5% 120px;
    }
    div.slide #slide2-left {
        padding: 100px 5% 80px;
    }
    div.slide #slide2-right {
        padding: 80px 5% 100px;
    }
    div.slide .text-size {
        font-size: 20px;
        line-height: 28px;
    }
    div.slide .title-size {
        font-size: 36px;
    }
    div.slide #contactinfo {
        font-size: 28px;
        line-height: 40px;
        padding: 0 5%;
    }
}

@media(max-width: 550px) {
    div.slide #slide2-left {
        font-size: 36px;
        line-height: 48px;
    }
    div.slide #slide2-middle {
        width: 90vw;
    }
}

@media(max-width: 488px) {
    div.slide #slide2-right {
        top: 70%;
    }
}

.intro-text {
    display: flex;
    padding: 180px 150px;
    max-width: 1400px;
    margin: auto;
}

.intro-text p {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.5px;
}

.youtube {
    margin: auto;
    text-align: center;
    max-width: 1300px;
    padding: 80px 5px;
}

input[type=email] {
    /*width: min(800px, 50vw);*/
    width: 800px;
    padding: 16px 32px;
    margin: 4px 2px;
    box-sizing: border-box;
    border: 2px solid black;
    background: transparent;
    font-size: 24px;
    -webkit-appearance: none;
    border-radius: 0;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: black;
    border: none;
    color: white;
    padding: 18px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 24px;
    -webkit-appearance: none;
    border-radius: 0;
}

@media screen and (max-width: 800px) {
    input[type=email] {
        width: 50vw;
    }
}

@media screen and (min-width: 1300px) {
    .fun {
        line-height: 96px;
        font-size: 84px;
        top: 75%;
    }
}

@media screen and (min-width: 991px) {
    header {
        width: 100%;
        /*background-color: grey;*/
        /*height: 100%;*/
        margin: 0;
        background-attachment: fixed;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .video-container {
        /*background-color: #f1a5a5;*/
        z-index: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
        top: 0;
        left: 0;
    }
    div.rows {
        display: flex;
        align-items: center;
        margin-top: -140px;
    }
}

@media screen and (max-width: 991px) {
    .fun {
        line-height: 48px;
        font-size: 48px;
        top: 50%;
    }
    .intro-text {
        padding: 100px 100px;
    }
    .intro-text p {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.5px;
    }
    p .full-text p {
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.5px;
    }
    h2 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0.5px;
    }
}

@media (max-width: 768px) {
    .intro-text {
        padding: 80px 40px;
    }
    .intro-text p .full-text p {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
    .full-text {
        padding: 0 40px;
        width: 100%;
    }
    p .full-text p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
    h2 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0.5px;
    }
}


/* Material image grid */

div#lifecycle1to4 {
    max-width: 1000px;
    margin: auto;
    margin-top: 180px;
}

.rows {
    margin: 4px 0;
}


/* Add padding BETWEEN each column */

.rows,
.rows>.columns {
    /* do not understand, why use ">" */
    padding: 12px 12px;
}


/* Create two equal columns that sits next to each other */

.columns {
    padding-left: 0;
}

.col-img {
    width: 50%;
}

.col-text {
    width: 50%;
}

.full-text {
    width: 100%;
    padding: 0 60px;
}


/* Clear floats after rows */

.rows:after {
    content: "";
    display: table;
    clear: both;
}

.con-text {
    padding: 20px 20px 20px 40px;
    width: 90%;
}

.con-img {
    padding: 30px;
}

#full-width-gif {
    margin-top: -220px;
    padding: 0 120px 0;
    position: relative;
    z-index: -1;
}

h2#cycle-text {
    text-align: center;
}

div#material-text {
    line-height: 40px;
    padding: 0 0 0 80px;
}


/* Add padding BETWEEN each column */


/* Responsive layout -  two column-layout */


/*
@media screen and (max-width: 800px) {
    .columns {
        width: 50%;
    }
}
*/


/* Responsive layout - one column */

@media screen and (max-width: 991px) {
    div#lifecycle1to4 {
        margin-top: 0;
    }
    .rows {
        margin: 50px 0;
    }
    .columns {
        width: 100%;
    }
    .col-img {
        width: 100%;
    }
    .con-img {
        padding: 0;
    }
    .col-text {
        width: 100%;
    }
    .con-text {
        padding: 0 20px;
        width: 100%;
        margin-top: -20px;
    }
    .columns p {
        font-size: 20px;
        line-height: 28px;
        padding-left: 0;
    }
    .intro-text {
        padding: 80px 40px;
    }
    .intro-text p .full-text p {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
    .full-text {
        padding: 0 20px;
        width: 100%;
    }
    p .full-text p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
    }
    h2 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0.5px;
    }
    #full-width-gif {
        margin-top: 0;
        padding: 0;
    }
    h2#cycle-text {
        text-align: left;
    }
    div#material-text {
        padding: 0;
    }
}


/* about page */

.main-about {
    max-width: 1200px;
    margin: auto;
    padding: 160px 30px 0;
}

.about-text {
    padding-right: 200px;
}

.about-contact {
    line-height: 48px;
}

@media screen and (max-width: 991px) {
    .main-about {
        padding: 100px 30px 0;
    }
    .about-text {
        padding: 0;
    }
    .about-text h2 {
        font-size: 30px;
        letter-spacing: 1px;
    }
    .about-text p {
        font-size: 22px;
        line-height: 34px;
    }
}


/* Homepage image grid END*/


/* full screen scroll  */


/* Backgrounds will cover all the section
	* --------------------------------------- */

.section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


/* Defining each section background and styles
	* --------------------------------------- */

#section0 {
    background-image: url(./img2/t1.jpg);
}

#section1 {
    background-image: url(./img2/t2.jpg);
}

#section2 {
    background-image: url(./img2/t3.jpg);
}

#section3 {
    background-image: url(./img2/t4.jpg);
}

#section4 {
    background-image: url(./img2/t5.jpg);
}

#section5 {
    background-image: url(./img2/t6.jpg);
}

#section6 {
    background-image: url(./img2/t7.jpg);
}

#section7 {
    background-image: url(./img2/t8.jpg);
}

#section8 {
    background-image: url(./img2/t9.jpg);
}

#section9 {
    background-image: url(./img2/t10.jpg);
}

#section10 {
    background-image: url(./img2/t11.jpg);
}

#section11 {
    background-image: url(./img2/t12.jpg);
}

#section12 {
    background-image: url(./img2/t13.jpg);
}

#section13 {
    background-image: url(./img2/t14.jpg);
}

#section14 {
    background-image: url(./img2/t15.jpg);
}

#section15 {
    background-image: url(./img2/t16.jpg);
}

#section16 {
    background-image: url(./img2/t17.jpg);
}

#section17 {
    background-image: url(./img2/t18.jpg);
}


/* application*/

#section21 {
    background-image: url(./img2/a1.jpg);
}

#section22 {
    background-image: url(./img2/a2.jpg);
}

#section23 {
    background-image: url(./img2/a3.jpg);
}

#section24 {
    background-image: url(./img2/a4.jpg);
}

#section25 {
    background-image: url(./img2/a5.jpg);
}

#section26 {
    background-image: url(./img2/a6.jpg);
}

#section27 {
    background-image: url(./img2/a7.jpg);
}

#section28 {
    background-image: url(./img2/a8.jpg);
}

#section29 {
    background-image: url(./img2/a9.jpg);
}

#section30 {
    background-image: url(./img2/a10.jpg);
}

#section31 {
    background-image: url(./img2/a11.jpg);
}

#section32 {
    background-image: url(./img2/a12.jpg);
}

#section33 {
    background-image: url(./img2/a13.jpg);
}

#section34 {
    background-image: url(./img2/a14.jpg);
}